.card-bg {
    background-size: cover;
    background-position: center;
    color: white; /* Isso pode ajudar a garantir que o texto seja legível */
  }

  .card-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Isso adiciona um overlay escuro para melhor contraste */
    z-index: 1;
    pointer-events: none; /* Permite interações através do pseudo-elemento */
  }

  .card-body{
    z-index: 1;
  }