<div class="flex">
  <aside [ngClass]="{ 'w-0': !isSidebarOpen, 'min-w-60': isSidebarOpen }"
    class="h-screen bg-white text-black shadow-lg fixed top-0 left-0 z-30 transition-all duration-300">
    <ng-container *ngIf="isSidebarOpen">
      <div class="p-5 relative">
        <button class="absolute right-1 top-1 p-3 block md:hidden" (click)="toggleSidebar()">
          <i class="fa-solid fa-xmark fa-lg"></i>
        </button>

        <h5 class="text-lg">Nelson Vinícius</h5>

        <hr class="border border-gray-100 my-4" />

        <div class="flex flex-col text-gray-700">
          <a routerLink="/adm/productOption"
            [routerLinkActive]="['text-red-600', 'bg-gray-100']"
            class="py-3 px-2 rounded-lg md:hover:text-red-600 text-sm"
            (click)="closeSidebarOnClickLink()">
            <i class="fa-solid fa-question me-3"></i>
            Perguntas do produto
          </a>
          <a routerLink="/adm/category"
            [routerLinkActive]="['text-red-600', 'bg-gray-100']"
            class="py-3 px-2 rounded-lg md:hover:text-red-600 text-sm"
            (click)="closeSidebarOnClickLink()">
            <i class="fa-solid fa-tag me-2"></i>
            Categoria do Produto
          </a>
          <a routerLink="/adm/product"
            [routerLinkActive]="['text-red-600', 'bg-gray-100']"
            class="py-3 px-2 rounded-lg md:hover:text-red-600 text-sm"
            (click)="closeSidebarOnClickLink()">
            <i class="fa-solid fa-box me-2"></i>
            Produtos
          </a>
          <a routerLink="/adm/user"
            [routerLinkActive]="['text-red-600', 'bg-gray-100']"
            class="py-3 px-2 rounded-lg md:hover:text-red-600 text-sm"
            (click)="closeSidebarOnClickLink()">
            <i class="fa-solid fa-user me-2"></i>
            Usuários
          </a>
        </div>
      </div>
    </ng-container>
  </aside>

  <div (click)="toggleSidebar()" class="md:hidden w-screen h-screen bg-black opacity-50 fixed z-20"
    [ngClass]="{'hidden': !isSidebarOpen}"></div>

  <div class="w-full transition-all duration-300" [ngClass]="{'md:ml-60': isSidebarOpen}">
    <app-navbar-adm (isSidebarOpen)="toggleSidebar()"></app-navbar-adm>
    <div class="px-4 pb-4 mt-20">
      <div class="min-h-[85vh] p-4 shadow-sm rounded-md bg-white">
        <div class="flex items-center justify-between gap-3">
          <div>
            <h3 class="my-2 text-xl font-normal">{{ title }}</h3>
          </div>
          
          @if(btnNewLink != ''){
            <div class="min-w-20">
              <a class="bg-red-700 py-1.5 px-3 rounded-md text-white md:hover:bg-red-800 text-sm transition"
                [routerLink]="btnNewLink">
                <span>Novo</span>
                <i class="fa-solid fa-plus ms-2"></i>
              </a>
            </div>
          }
        </div>

        <hr class="border border-gray-100 my-4" />

        <div class="h-full">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>