<app-default-layout-pages [title]="'Listagem de usuário'" [showBtn]="true" [btnNewLink]="'/adm/user/create'">
  <div class="relative">
    <p-progressBar *ngIf="showProgressBar" mode="indeterminate"
      [style]="{ height: '5px', width: '100%', position: 'absolute', top: '0', left: '0' }"></p-progressBar>
    <table class="table-auto" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
        <tr>
          <td class="align-middle text-start"
            [ngStyle]="{'background-color': !user.active ? 'rgba(218, 92, 92, 0.253)' : ''}">
            <a [routerLink]="'/adm/user/' + user.id"
              class="text-blue-400 md:hover:text-blue-500 transition">{{user.name}}</a>
          </td>
          <td class="text-center align-middle">
            <button class="h-8 w-8 bg-red-500 rounded-lg md:hover:bg-red-600 transition" (click)="saveItem(user.id!)">
              <i class="fa-solid fa-trash text-white"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</app-default-layout-pages>

<!-- Modal -->
<app-modal (confirm)="deleteItem()" [btnPrimary]="'Excluir'" [title]="'Exclusão de registro'">
  <span>Realmente deseja excluir o registro?</span>
</app-modal>