<app-default-layout-pages [title]="'Listagem de usuário'" [showBtn]="true" [btnNewLink]="'/adm/user/create'">
  <table class="table mt-2 table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="table-secondary">
      <tr>
        <th class="col-12 text-start" scope="col">Usuário</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
        <tr>
          <td class="align-middle text-start" [ngStyle]="{'background-color': !user.active ? 'rgba(218, 92, 92, 0.253)' : ''}">
            <a [routerLink]="'/adm/user/update/' + user.id">{{user.name}}</a>
          </td>
          <td class="text-center align-middle">
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#alertDelete" (click)="saveItem(user.id!)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</app-default-layout-pages>

<!-- Modal -->
<div class="modal" id="alertDelete" tabindex="-1" aria-labelledby="alertDeleteLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="alertDeleteLabel">Exclusão de registro</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Realmente deseja excluir o registro?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteItem()">Excluir</button>
    </div>
  </div>
</div>
</div>
  