<a class="cursor-pointer">
  <div [ngStyle]="{ 'background-image': 'url(' + category.imageUrl + ')' }" class="text-white p-3 rounded-3xl bg-cover bg-center relative overflow-hidden">
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    <div class="relative">
      <h5>{{ category.description }}</h5>
    </div>
    <div class="relative">
      <h6>{{ subtitle }}</h6>
    </div>
    <div class="relative">
      <p>{{ text }}</p>
    </div>
  </div>
</a>
<div [id]="category.description">
  <ng-content></ng-content>
</div>