<a
  class="card card-bg overflow-hidden rounded-5"
  [ngStyle]="{ 'background-image': 'url(' + category.imageUrl + ')' }"
  data-bs-toggle="collapse"
  [attr.data-bs-target]="'#' + category.description"
  aria-expanded="false"
  [attr.aria-controls]="category.description"
>
  <div class="card-body">
    <div>
      <h5 class="card-title">{{ category.description }}</h5>
    </div>
    <div>
      <h6 class="card-subtitle">{{ subtitle }}</h6>
    </div>
    <div>
      <p class="card-text">{{ text }}</p>
    </div>
  </div>
</a>
<div class="product-options" [id]="category.description">
  <ng-content></ng-content>
</div>