<app-header [establishment]="'restaurante'" [tableNumber]="4" />
<app-navbar />
<div class="max-w-md m-auto px-3">
  @for (category of categories; track $index) {
    <ng-container *ngIf="!showSkeleton">
      <div class="mb-3">
        <app-card
          [subtitle]="'seg - sex'"
          [text]="'Das 16 as 18'"
          [category]="category"
          >
          @for (product of category.products; track $index) {
              <app-product
              [product]="product"
              (toggleModal)="handleModal($event)"
              />
            }
        </app-card>
      </div>
    </ng-container>
    
    <ng-container *ngIf="showSkeleton">
      <div class="col skeleton">
        <p-skeleton width="100%" height="6.5rem" borderRadius="2rem" styleClass="mb-3"/>
      </div>
    </ng-container>
  }
</div>
<app-footer />

<app-modal *ngIf="showModal" [btnPrimary]="'Pedir'" [title]="productSelect.description" (confirm)="submit()" (close)="isModalVisible()">
  <form [formGroup]="myForm">
    <app-numeric-spinner formControlName="qtItems" [label]="'Quantidade'" [class]="'items-center justify-between'" [titleStyle]="'title'"/>
    
    @if (productSelect.productOptionTitle.length != 0) {
      <hr class="border my-2">
    }
    
    <div formArrayName="productOptions"> 
      @for (productOptionTitle of myForm.value.productOptions; track $index) {
        <div>
          <div class="flex justify-between items-center p-2 rounded-2 bg-gray-100">
            <div class="flex flex-col">
              <span>{{productOptionTitle.description}}</span>
              @if(productOptionTitle.qtOptionsSelected){
                <span class="text-xs text-gray-800">Selecione até {{productOptionTitle.qtOptionsSelected}} {{productOptionTitle.qtOptionsSelected == 1 ? 'opção' : 'opções'}}</span>
              }
            </div>
            
            @if(productOptionTitle.required){
              <span class="px-2 py-1.5 text-[0.6rem] font-bold text-white bg-red-600 rounded-lg">Obrigatório</span>
            }
          </div>
          <div [formGroupName]="$index">
            @for (option of productOptionTitle.options; track $index) {
              <div formArrayName="options">
                <div class="px-4 py-2 flex justify-between items-center" [formGroupName]="$index">
                  <label [for]="option.id">{{option.option}}</label>
                  <input [id]="option.id" formControlName="checked" class="border" type="checkbox"> 
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <hr class="border my-2">
   
    <div class="mt-3 flex justify-between items-center md:flex-nowrap flex-wrap gap-3">
      <span>Alguma observação?</span>
      <input type="text" class="border border-gray-200 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none shadow-sm bg-gray-50 w-full" formControlName="notes">
  </div>
  </form>
</app-modal>