<app-header [establishment]="'Nelson Vinicius restaurante'" [tableNumber]="4" />
<app-navbar />
<app-userlayout>
  @for (category of categories; track $index) {
  <div class="col mb-3">
    <app-card
      [subtitle]="'seg - sex'"
      [text]="'Das 16 as 18'"
      [category]="category"
    >
      @for (product of products; track $index) {
        @if(category.id == product.category.id){
          <app-product
          [product]="product"
          class="collapse"
          [id]="category.description"
          (openProductDetails)="openProductDetails($event)"
          />
        }
      }
    </app-card>
  </div>
  }
</app-userlayout>
<app-footer />
