<app-header [establishment]="'Nelson Vinicius restaurante'" [tableNumber]="4" />
<app-navbar />
<app-userlayout>
  @for (category of categories; track $index) {
    <ng-container *ngIf="!showSkeleton">
      <div class="col mb-3">
        <app-card
          [subtitle]="'seg - sex'"
          [text]="'Das 16 as 18'"
          [category]="category"
          >
          @for (product of products; track $index) {
            @if(category.id == product.category.id){
              <app-product
              [product]="product"
              class="collapse"
              [id]="category.description"
              />
            }
          }
        </app-card>
      </div>
    </ng-container>
    
    <ng-container *ngIf="showSkeleton">
      <div class="col skeleton">
        <p-skeleton width="100%" height="6.5rem" borderRadius="2rem" styleClass="mb-3"/>
      </div>
    </ng-container>
  }
</app-userlayout>
<app-footer />
