<app-default-layout-pages [title]="id ? 'Editar categoria' : 'Nova categoria'" (submit)="save()">
  <form [formGroup]="myForm">
    <div class="row">
      <label for="image" class="form-label">Imagem: *</label>

      <div class="col-12" *ngIf="imgUrl">
        <div class="mb-2" *ngIf="!showSkeleton">
          <img [src]="imgUrl" class="img-fluid border border-1">
        </div>
      </div>
      <p-skeleton height="12em" width="300px" styleClass="mb-2" *ngIf="showSkeleton" />
      
      <div class="col-12">
        <div class="mb-2" *ngIf="!showSkeleton">
          <button class="btn btn-sm btn-secondary" type="button" (click)="chooseImage()" *ngIf="!showInputFile">Escolher outra imagem</button>
        </div>
        <p-skeleton height="2.3em" width="180px" styleClass="mb-2" *ngIf="showSkeleton" />
      </div>

      <div class="col-12" *ngIf="showInputFile">
        <div class="mb-3" *ngIf="!showSkeleton">
          <input type="file" class="form-control shadow-sm" id="image" formControlName="image"
            (change)="uploadImage($event)">

          @if (myForm.controls['image'].invalid &&
          myForm.controls['image'].touched) {
          <small class="text-danger">Campo obrigatório</small>
          }
        </div>
      </div>

      <div class="col-12">
        <label for="description" class="form-label">Descrição: *</label>
        <div class="mb-4" *ngIf="!showSkeleton">
          <input type="text" class="form-control shadow-sm" formControlName="description" id="description"
            placeholder="Refrigerantes" />
          @if (myForm.controls['description'].invalid &&
          myForm.controls['description'].touched) {
          <small class="text-danger">Campo obrigatório</small>
          }
        </div>
        <p-skeleton height="2.3em" styleClass="mb-4" *ngIf="showSkeleton" />
      </div>
    </div>

    <app-btns-end [previousPage]="'/adm/category'" [showSkeleton]="showSkeleton"></app-btns-end>
  </form>
</app-default-layout-pages>