<app-default-layout-pages [title]="'Nova categoria'" (submit)="onClick()">
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="description" class="form-label">Descrição: *</label>
                <input type="text" class="form-control shadow-sm" formControlName="description" id="description" placeholder="Refrigerantes">
                @if (myForm.controls['description'].invalid && myForm.controls['description'].touched) {
                    <small class="text-danger">Campo obrigatório</small>
                }
              </div>
            </div>
        </div>
        <app-btns-end [previousPage]="'/adm/category'"></app-btns-end> 
    </form>
  </app-default-layout-pages>