<app-default-layout-pages [title]="'Nova coleção de perguntas'" [title]="id ? 'Editar Coleção de Perguntas' : 'Nova Coleção de Perguntas'">
    <form [formGroup]="myForm" (submit)="save()">
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="required">
            <label class="form-check-label" for="flexSwitchCheckDefault">Obrigatório</label>
          </div>

        <div class="mb-2">
            <label for="" class="form-label">Descrição: *</label>
            <input type="text" class="form-control" placeholder="Ponto da carne" formControlName="description">
        </div>

        <div formArrayName="options" class="mb-2">
            @for (option of myForm.value.options; track $index) {
                <div class="mb-2">
                    <label class="form-label">Pergunta {{ $index + 1 }}:</label>
                    <div class="input-group" [formGroupName]="$index">
                        <input type="text" class="form-control" formControlName="option">
                        <button class="btn btn-danger" type="button" (click)="removeQuestion($index)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="mb-2">
            <button class="btn btn-outline-secondary" type="button" (click)="addQuestion()">
                <i class="fa-solid fa-plus"></i>
                Adicionar pergunta
            </button>
        </div>

        <app-btns-end [previousPage]="'/adm/productOption/'"/>
    </form>
</app-default-layout-pages>
