<app-login-layout>
  <form [formGroup]="loginForm" (submit)="submit()">
    <app-primary-input
      [inputName]="'email'"
      [label]="'Email'"
      [type]="'email'"
      formControlName="email"
      ></app-primary-input>
    <app-primary-input
      [inputName]="'password'"
      [label]="'Senha'"
      [type]="'password'"
      formControlName="password"
    ></app-primary-input>
    <button class="mt-2 bg-red-400 text-white px-5 py-2 rounded-md sm:hover:bg-red-500 transition">Login</button>
  </form>
</app-login-layout>
