<div class="d-flex align-items-center height100 justify-content-center gap-3">
  <div class="col-4">
    <form>
      <app-primary-input
        [inputName]="'email'"
        [label]="'Email'"
        [placeholder]="'Email'"
        [type]="'email'"
      ></app-primary-input>
      <app-primary-input
        [inputName]="'password'"
        [label]="'Senha'"
        [placeholder]="'Senha'"
        [type]="'password'"
      ></app-primary-input>
      <button type="submit" class="btn btn-primary mt-2">Login</button>
    </form>
  </div>
  <div class="col-4">
    <div class="imagem">
       
    </div>
  </div>
</div>
