<app-default-layout-pages [showBtn]="true" [btnNewLink]="'/adm/productOption/create'" [title]="'Listagem de coleção de pergunta'">
    <div class="position-relative">
        <p-progressBar *ngIf="showProgressBar" mode="indeterminate" [style]="{ height: '5px', width: '100%', position: 'absolute', top: '0', left: '0' }"></p-progressBar>
        <table class="table mt-2 table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="table-secondary">
            <tr>
              <th class="text-start col-12">Descrição</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            @for (productOption of productOptions; track $index) {
              <tr>
                <td class="align-middle text-start">
                  <a [routerLink]="'/adm/productOption/update/' + productOption.id">{{productOption.description}}</a>
                </td>
                <td class="text-center align-middle">
                  <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#alertDelete" (click)="saveItem(productOption.id!)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
</app-default-layout-pages>

<!-- Modal -->
<app-modal [id]="'alertDelete'" [title]="'Exclusão de Registro'" [btnPrimary]="'Excluir'"
  (confirm)="deleteItem()">
  <p>Realmente deseja excluir o registro?</p>
</app-modal>  