@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif ;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 239, 239) !important;
}

/* bootstrap custom */
.form-control{
    background-color: #eff3f6 !important;
}

input::placeholder{
    color: rgb(214, 214, 214) !important;
}

label{
    font-size: 0.8rem;
    color: #888888;
}
/* end bootstrap custom */

/* input validation */
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid{
    border: 1px solid red;
}

/* end input validation */

small{
    font-size: 0.7rem !important;
}
