<div class="card card-body border border-0 border-bottom rounded-0 ">
  <a (click)="onClick(product)" data-bs-toggle="modal" [attr.data-bs-target]="'#' + product.description">
    <div class="row">
      <div class="col-3">
          <img [src]="product.imageUrl" [alt]="product.description" class="img-fluid rounded-2">
      </div>
      <div class="col-6">
          <h5>{{product.description}}</h5>
      </div>
      <div class="col-3">
          <span>{{ product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
      </div>
    </div>
  </a>
</div>

<app-modal [id]="product.description" [btnPrimary]="'Pedir'" [positionMiddle]="true" [title]="product.description" [scrollable]="true">
  {{product.description}}
</app-modal>
