<div class="flex mb-2 gap-2" [ngClass]="class">
    @if (titleStyle == 'title') {
      <span for="qt">{{label}}</span>
    }
    @else {
      <label for="qt">{{label}}</label>
    }
    <div class="flex h-10 max-w-40 border rounded-lg" style="height: 40px; max-width: 150px;">
      <button class="p-2 px-3 flex items-center justify-center border-e bg-gray-100 rounded-s-lg md:hover:bg-gray-200 transition" type="button" (click)="less()">
        <i class="fa-solid fa-minus"></i>
      </button>
      
      <input
            id="qt"
            type="text"
            class="quantity"
            mask="00"
            [allowNegativeNumbers]="false"
            (input)="onInput($event)"
            [(ngModel)]="value"
            (focus)="onTouched()"
          />
    
      <button class="p-2 px-3 flex items-center justify-center border-s bg-gray-100 rounded-e-lg md:hover:bg-gray-200 transition" type="button" (click)="add()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
</div>
