<div class="d-flex mb-3" [ngClass]="class">
    <span class="pe-2 pb-2">{{label}}</span>
    <div class="card flex-row" style="height: 40px; max-width: 150px;">
      <button class="p-2 px-3 btn d-flex align-items-center justify-content-center" type="button" (click)="less()">
        <i class="fa-solid fa-minus text-secondary"></i>
      </button>
      
      <input
            type="text"
            class="quantity"
            mask="00"
            [allowNegativeNumbers]="false"
            (input)="onInput($event)"
            [value]="value"
            (focus)="onTouched()"
          />
    
      <button class="py-2 px-3 d-flex btn align-items-center justify-content-center" type="button" (click)="add()">
        <i class="fa-solid fa-plus text-secondary"></i>
      </button>
    </div>
</div>
