<div class="fixed bottom-0 flex py-2 w-full">
    <div class="w-1/2 flex flex-col justify-center items-center order border-e border-gray-300">
        <span class="order-icon">
            <i class="fa-solid fa-check text-green-600"></i>
        </span>
        <span class="text-xs mt-[-5px]">Pedir</span>
    </div>
    <div class="w-1/2 flex flex-col justify-center items-center order">
        <span class="order-icon">
            <i class="fa-solid fa-list"></i>
        </span>
        <span class="text-xs mt-[-5px]">Conta</span>
    </div>
</div>