<app-default-layout-pages [title]="'Listagem de produto'" [showBtn]="true" [btnNewLink]="'/adm/product/create'">
    <table class="table mt-5 table-striped">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>2mdo</td>
          <td>
              <button class="btn btn-danger btn-sm">
                  <i class="fa-solid fa-trash"></i>
              </button>
          </td>
      </tr>
      </tbody>
    </table>
  </app-default-layout-pages>
  