<app-default-layout-pages [title]="'Listagem de produto'" [showBtn]="true" [btnNewLink]="'/adm/product/create'">
  <div class="position-relative">
    <p-progressBar *ngIf="showProgressBar" mode="indeterminate" [style]="{ height: '5px', width: '100%', position: 'absolute', top: '0', left: '0' }"></p-progressBar>
    <table class="table mt-2 table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="table-secondary">
        <tr>
          <th class="col-2">Descrição</th>
          <th class="col-12">Categoria</th>
          <th class="">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track $index) {
          <tr>
            <td class="align-middle">
              <a [routerLink]="'/adm/product/' + product.id">{{product.description}}</a>
            </td>
            <td class="align-middle">
              {{product.category.description}}
            </td>
            <td class="align-middle">
              <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#alertDelete" (click)="saveItem(product.id!)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  </app-default-layout-pages>
  
  <!-- Modal -->
<app-modal [id]="'alertDelete'" [title]="'Exclusão de Registro'" [btnPrimary]="'Excluir'"
(confirm)="deleteItem()">
<p>Realmente deseja excluir o registro?</p>
</app-modal>